.header
  .wrapper
    a.logo(href="/")
      img.logo__img(srcset="img/logo@2x.png 2x" src="img/logo.png" alt="Logo")
    button(type="button").menu-button
      svg.search-icon(width="49.945" height="24.007")
        use(xlink:href="img/sprite.svg#icon-menu-burger")
  ul.main-navigation
    li.main-navigation__item.main-navigation__item--language
      .language
          svg.user-list__search-icon(width="49.945" height="24.007")
            use(xlink:href="img/sprite.svg#english").language__img
          select.language__select.js-example-basic-single(name="state" style="width: 100%")
            option.language__option.language__option--english(value="english") English
            option.language__option.language__option--egermany(value="germany") Germany
    li.main-navigation__item.main-navigation__item--sing-in
      a.main-navigation__link(href="#") Log In
    li.main-navigation__item.main-navigation__item--active
      a.main-navigation__link.main-navigation__link--active(href="#") Home
      ul.submenu
        li.submenu__item
          span.submenu__title Submenu 01
          a.submenu__link Excepteur sint
          a.submenu__link Occaecat cupidatat
        li.submenu__item
          span.submenu__title Submenu 02
          a.submenu__link Adipisci velit
          a.submenu__link Magnam aliquam
          a.submenu__link Error sit voluptatem
    li.main-navigation__item
      a.main-navigation__link(href="#") About us
    li.main-navigation__item
      a.main-navigation__link(href="#") Our News
    li.main-navigation__item
      a.main-navigation__link(href="#") Blog
    li.main-navigation__item
      a.main-navigation__link(href="#") Contacts
    li.main-navigation__item
      a.main-navigation__link(href="#") Faq
  .user-block
    a.user-block__link.sing-in(href="#") Sing in
    a.user-block__link.user-block__link--registration(href="#") Registration
  .language
    svg.search-icon(width="49.945" height="24.007")
      use(xlink:href="img/sprite.svg#english").language__img
    select.language__select.js-example-basic-single(name="state")
      option.language__option.language__option--english(value="english") English
      option.language__option.language__option--egermany(value="germany") Germany
