.partners
  .container.partners__list
    a.partners__link(href="#")
      img.partners__img(srcset="img/visa@2x.png 2x" src="img/visa.png" alt="visa")
    a.partners__link(href="#")
      img.partners__img(srcset="img/neteller@2x.png 2x" src="img/neteller.png" alt="neteller")
    a.partners__link(href="#")
      img.partners__img(srcset="img/pm@2x.png 2x" src="img/pm.png" alt="perfect money")
    a.partners__link(href="#")
      img.partners__img(srcset="img/sticpay@2x.png 2x" src="img/sticpay.png" alt="sticpay")
    a.partners__link(href="#")
      img.partners__img(srcset="img/fasa@2x.png 2x" src="img/fasa.png" alt="fasapay")
