.popup
  form.popup-form(method="post" action="#")
    h2.popup-form__title Excepteur sint<br> cupidat non prident?
    input.popup-form__field.popup-form__field--name(type="text" placeholder="Name")
    input.popup-form__field.popup-form__field--email(type="email" placeholder="Email")
    .popup-form__agreement
      input.popup-form__checkbox(type="checkbox" id="yes")
      label.popup-form__label(for="yes") Lorem ipsum dolor sit amet
    button.popup-form__btn(type="submit") Subscribe Now!

