.slider
  .container
    input(type="radio" name="toggle" checked)#product-1
    input(type="radio" name="toggle")#product-2
    ul.slider__list
      li.slider__item.slide#slide1
        h1.slider__title Sed ut perspiciatis unde omnis iste natus error 5000
        a.slider__btn(href="#") Learn Now!
      li.slider__item.slide#slide2
        h1.slider__title Sed ut perspiciatis unde omnis iste natus error 5000
        a.slider__btn(href="#") Learn Now!
    .slider-buttons
      label.slider-buttons__element(for="product-1")
      label.slider-buttons__element(for="product-2")